body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    height: 215px;
    width: 950px;
    border: 2px solid salmon;
    border-radius: 10px;   
    display: flex;
    justify-content: space-between;
}

.fylo {
    width: 350px;
    height: 215px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
}

.info {
    height: 160px;
    width: 565px;
    border: 2px solid green;
    align-self: flex-end;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 0;
    background-color: hsl(228, 56%, 26%);
}

.storage__left {
    width: 180px;
    height: 85px;
    border: 1px solid red;
    align-self: flex-end;
    border-radius: 10px;
    margin: -55px 35px 0 0;
    z-index: 1;
    background-color: white;
}

.storage__left::before {
    border: 1px solid black;
    width: 10px;
    height: 10px;
}
