@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    background-color: hsl(229, 57%, 11%);
}

main {
    height: 215px;
    width: 950px;
    /* border: 2px solid salmon; */
    border-radius: 10px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

em {
    font-style: normal;
}

mark {
    background-color: white;
    color: hsl(229, 7%, 55%);
    font-weight: 700;
}

em,
.min,
.max {
    font-weight: 700;
}

.fylo {
    width: 310px;
    height: 215px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
}

.info {
    height: 160px;
    width: 565px;
    /* border: 2px solid green; */
    align-self: flex-end;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 0;
    background-color: hsl(228, 56%, 26%);
}

footer {
    position: absolute;
    bottom: 0;
    color: hsl(243, 100%, 93%);
}

.attribution a {
    text-decoration: none;
    color: hsl(229, 7%, 55%);
    font-weight: 700;
} 

div.fylo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 45px;
}

div.fylologo {
    background-image: url('../images/logo.svg');
    width: 130px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px solid salmon; */
    margin-bottom: -5px;
}

div.icons {
    /* border: 1px solid salmon; */
    width: 165px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}

div.document,
div.folder,
div.upload {
    height: 45px;
    width: 45px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;   
}

div.document {
    content: url(../images/icon-document.svg);
    padding: 11px 13px;
}

div.folder {
    content: url(../images/icon-folder.svg);
    padding: 13px 12px;
}

div.upload {
    content: url(../images/icon-upload.svg);
    padding: 15px 12px;
}


div.storage__used p,
div.min ,
div.max  {
    color: hsl(243, 100%, 93%);
}

.storage__left {
    width: 170px;
    height: 70px;
    /* border: 1px solid red; */
    align-self: flex-end;
    border-radius: 10px;
    margin: -50px 40px 0 0;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.items {
    width: 200px;
    height: 30px;
    margin: 0 -30px 12px 8px;
}

div.number {
    margin:0 0 3px 88px;
}

div.items p {
    width: 70px;
    height: 50px;
    font-size: 14px;
    margin-right: 10px;
}

div.storage__left::after {
    content: '';
    width: 0;
    height: 0;
    margin: 85px 65px 0 0;
    border-top: 30px solid white;
    border-right: 0 solid transparent;
    border-left: 30px solid transparent;

}

.storage__left p {
    text-transform: uppercase;
}

.storage__left p em {
    font-size: 36px;
}

div.storage__used {
    /* border: 1px solid salmon; */
    height: 20px;
    align-self: flex-start;
}

div.storage__used p {
    margin: 0;
    padding: 0;
}

div.storage {
    /* border: 2px solid salmon; */
    width: 478px;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;    
    align-self: center;
    margin-top: 18px;
}

div.diogram {
    height: 22px;
    width: 475px;
    align-self: flex-end;
    border-radius: 11px;
    background-color: hsl(229, 57%, 1%);
    display: flex;
    align-items: center;
}

div.loading {
    height: 16px;
    width: 350px;
    border-radius: 8px;
    background: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 4px;
}

div.pointer {
    height: 12px;
    width: 12px;
    border-radius: 7px;
    background-color: white;
    margin-right: 3px;
}

div.storage__scale {
    width: 480px;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: space-between;
}