@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

main {
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    border: 1px solid salmon;
}

img {
    height: 30px;
    width: 50px;
}

button {
    margin-top: auto;
    background-color: hsl(0, 0%, 95%);
    height: 40px;
    width: 130px;
    border-radius: 30px;
    border: transparent;
}

h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 32px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}

p, button {
    font-family: 'Lexend Deca', sans-serif;
}

.attribution {
    position: absolute; 
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto 0 0 0;
    padding-bottom: 0;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.suvs,
.luxury,
.sedans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sedans button {
    color: hsl(31, 77%, 52%);
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

.luxury button {
    color: hsl(179, 100%, 13%);
}