@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

main {
    min-height: 60vh;
    width: 65vw;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

img {
    height: 30px;
    width: 50px;
}

button {
    margin-top: auto;
    background-color: hsl(0, 0%, 95%);
    height: 50px;
    width: 140px;
    border-radius: 30px;
    border: transparent;
    font-size: 15px;
}

h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 42px;
    padding: 0 0 -20px 0;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 0 0 10px 0;
    width: 210px;
    margin-bottom: 40px;
}

p, button {
    font-family: 'Lexend Deca', sans-serif;
}

.attribution {
    position: absolute; 
    bottom: 0;
    display: flex;
    width: 100%;
    height: 15px;
    justify-content: center;
    font-family: 'Lexend Deca', sans-serif;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}

.suvs,
.luxury,
.sedans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.sedans button {
    color: hsl(31, 77%, 52%);
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

.luxury button {
    color: hsl(179, 100%, 13%);
}

.attribution a {
    text-decoration: none;
    
}

button:hover, button:active {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.sedans button:hover, .sedans button:active {
    background-color: hsl(31, 77%, 52%);
}

.suvs button:hover, .suvs button:active {
    background-color: hsl(184, 100%, 22%);
}

.luxury button:hover, .luxury button:active {
    background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 500px) {

    body {
        height: 220vh;
    }

    main {
        width: 330px;
        height: 140vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        box-sizing: border-box;
    }

    img {
        height: 40px;
        width: 60px;
    }

    h2 {
        margin-top: 35px;
        font-size: 36px;
    }

    p {
        margin: 0px 0 15px 0;
        width: 230px;
        line-height: 24px;
        letter-spacing: 0.02em;
        word-spacing: 0.15em;
        font-size: 14px;
    }

    button {
        margin-top: auto;
        background-color: hsl(0, 0%, 95%);
        height: 50px;
        width: 140px;
        border-radius: 30px;
        border: transparent;
    }

    .sedans {
        border-radius: 8px 8px 0 0;
    }

    .luxury {
        border-radius: 0 0 8px 8px;
    }

    .attribution {
        display: none;
    }

    .suvs,
    .luxury,
    .sedans {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
        height: 50vh;
    }

    button.press {
        height: 40px;
    }

}