@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: no-repeat url('../images/bg-intro-desktop.png'), hsl(0, 100%, 74%);
    font-size: 16px;
    background-size: 98%;
    background-position: 14px 0px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 540px;
    height: 350px;
    border: 1px solid transparent;
    padding-top: 40px;
}

input {
    box-sizing: border-box;
    height: 55px;
    width: 458px;
    align-self: center;
    border-radius: 5px;
    border: 1px solid hsla(246, 25%, 77%, 0.5);
    /* color: hsl(246, 25%, 77%); */
    font-weight: 600;
    font-size: 16px;
    padding-left: 25px;
    margin: 0 0 20px 0;
    color: hsl(249, 10%, 26%);
}

input:focus {
    outline: 1px solid hsl(249, 10%, 26%);
    transform: 1s ease-in-out;
    color: hsl(249, 10%, 26%);
}

.title-and-lead {
    width: 500px;
    height: 250px;
    /* border: 1px solid white; */
    color: white;
    margin-right: 69px;
    margin-left: 39px;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 49px;
    line-height: 54px;
}

.lead {
    margin-top: -11px;
}


.trial {
    height: 60px;
    background-color: hsl(248, 32%, 49%);
    color: hsl(246, 25%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 540px;
    box-shadow: 0 8px 0 hsla(249, 10%, 26%, 0.226);
}

mark {
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.form {
    height: 470px;
    margin: 26px 40px 5px 0;
    width: 540px;
    /* border: 1px dotted red; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 9px 0 hsla(249, 10%, 26%, 0.226);
}

.erroricon {
    width: 30px;
    height: 50px;
    border: 1px solid black;
    position: relative;
    top: 0;
}

.submit {
    height: 50px;
    width: 458px;
    background-color: hsl(154, 59%, 51%);
    align-self: center;
    border-radius: 5px;
    border-color: transparent;
    color: hsl(246, 25%, 96%);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 3px 0 hsl(154, 59%, 45%); 
    padding-top: 7px;
}

.error {
    background: no-repeat url(./images/icon-error.svg);
    background-position: 95% 50%; 
}

.bounce {
    animation-name: bounce;
    border: 1px solid hsl(0, 100%, 74%);
    animation-duration: 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }

    37% {
        transform: translateX(5px);
        timing-function: ease-out;
    }

    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }

    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }

    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }

    91% {
        transform: translateX(2px);
        timing-function: ease-in;
    }

    96% {
        transform: translateX(-2px);
        timing-function: ease-out;
    }

    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}

.terms-and-services {
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
    color: hsl(246, 25%, 77%);
}

.terms-and-services a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

footer {
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

footer a {
    color: hsl(154, 59%, 45%);
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
} 

footer a:active {
    color: hsl(248, 32%, 49%);
} 
