@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-image:
        url("../images/bg-pattern-top.svg"),
        url("../images/bg-pattern-bottom.svg");
    background-size: 100vw, 100vw;
    background-repeat: no-repeat;
    background-position-x: -50vw, 40vw;
    background-position-y: -98vh, 50vh;
}


main {
    height: 385px;
    width: 25vw;
    border-radius: 15px;
    background-color: white;
    shadow-box: 0 10px 10px 10px 10;
}

h1 {
    font-size: 18px;
}

.pattern__top {
    background-image: url("../images/bg-pattern-card.svg ");
    background-size: contain;
    width: 100%;
    height: 145px;
    border-radius: 15px 15px 0 0;
}

.profile__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__top {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
    
}

.age {
    margin-top: 17px;
}

.location {
    margin-top: -7px;
    font-size: 15px;
    color:hsl(0, 0%, 90%);
}

.age,
.location,
.name,
.foll__number,
.likes__number,
.photos__number {
    color: hsl(229, 23%, 23%)
}

.foll__number,
.likes__number,
.photos__number {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 18px;
}

.foll__name,
.likes__name,
.photos__name {
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    margin-top: 2px;
    letter-spacing: 0.1em;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid salmon; */
    height: 90px;
    border-top: 1px solid hsla(0, 0%, 59%, 50%);
    margin-top: 10px;
    
}

.attribution {
    position: absolute;
    bottom: 0;
    color: whitesmoke;
}

.attribution a {
    text-decoration: none;
}

div.likes,
div.followers,
div.photos {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid salmon; */
}

.profile__header img {
    height: 96px;
    width: 96px;
    border-radius: 90px;
}

div.profilepic {
    height: 96px;
    width: 96px;
    border: 6px solid white;
    border-radius: 90px;
    margin-top: -55px;
}

@media screen and (max-width: 500px) {
    main {
        width: 320px;
    }

    .attribution {
        display: none;
    }

    body {
        background-image:
            url("../images/bg-pattern-top.svg"),
            url("../images/bg-pattern-bottom.svg");
        background-size: 170vw, 170vw;
        background-repeat: no-repeat;
        background-position-x: -115vw, 40vw;
        background-position-y: -52vh, 55vh;
}
    }
