@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
}

body {
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 70vh;
    width: 73vw;
    min-width: 940px;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 48px;
    margin: 0;
    width: 65%;
    letter-spacing: -0.03em;
    line-height: 40px;
}

h2 {
    font-size: 15px;
}

.top {
    height: 40%;
    display: flex;
    min-height: 240px;
}

.lead {
    width: 50%;
    height: 90%;
}

.stars {
    margin-left: auto;
    width: 45%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    margin: 30px 0 0 auto;  
}

.bottom {
    min-height: 260px;
    height: 45%;
    display: flex;
    justify-content: space-between;
}

.bio1,
.bio2,
.bio3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 30px;
    margin: 2px 0 0 20px;
    width: 100px;
}

div.attribution {
    position: absolute;
    bottom: 0;
}

.attribution a {
    text-decoration: none;
    color: hsl(300, 43%, 22%);
}

.attribution a:hover,
.attribution a:active {
    font-weight: 700;
}

p.feedback1 {
    width: 270px;
}

p.feedback2 {
    width: 250px;
}

p.feedback3 {
    width: 260px;
}

p.feedback1,
p.feedback2,
p.feedback3 {
    line-height: 20px;
    font-weight: 500;
    margin-top: 60px;

}

div.card1,
div.card2,
div.card3 {
    box-sizing: border-box;
    height: 27vh;
    width: 32%;
    min-width: 270px;
    min-height: 200px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.card2 {
    align-self: center;
}

div.card3 {
    align-self: flex-end;
}

.cardhead1 {
    width: 270px;
}

.cardhead2 {
    width: 250px;
} 

.cardhead3 {
    width: 260px;
}

.cardhead1,
.cardhead2,
.cardhead3 {
    height: 40px;
    display: flex;
    margin:0 0 3% 0; 
    /* border: 1px solid white; */
}

.bottom p, h2 {
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 2px 0;
}

.bottom p {
    color: hsla(300, 24%, 96%, 90%);
}

.bio1 p,
.bio2 p,
.bio3 p {
    color: hsla(333, 80%, 67%, 70%);
    font-weight: 500;
}

.cardhead1 img,
.cardhead2 img, 
.cardhead3 img {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

div.mark1,
div.mark2,
div.mark3 {
    box-sizing: border-box;
    min-width: 375px;
}

div.stars1,
div.stars2,
div.stars3 {
    height: 15px;
    width: 85px;
    /* border: 1px dotted black; */
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 -40px;
}

.star {
    height: 13px;
    width: 13px;
    background-image: url('../images/icon-star.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.stars__p {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin: 0 10px 0 20px;

}

.mark1.stars__p {
    margin-right: 80px;
}

.lead p {
    color: hsl(303, 10%, 53%);
    width: 370px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
}

.stars div.mark1,
.stars div.mark2,
.stars div.mark3 {
    background-color: hsl(300, 24%, 96%);
    height: 53px;
    width: 85%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-right: 20px;
}

.stars div.mark1 {
    align-self: flex-start;
}

.stars div.mark2 {
    align-self: center;
    padding-left: 23px;
}

.stars div.mark3 {
    align-self: flex-end;
}