@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
}

html {
    font-size: 17px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: 
    url('../images/bg-pattern-top-desktop.svg'),
    url('../images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right; 
}

main {
    height: 80vh;
    width: 80vw;
    align-self: center;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 48px;
    margin: 0;
    width: 65%;
    letter-spacing: -0.03em;
    line-height: 40px;
}

h2 {
    font-size: 15px;
}

.top {
    height: 40%;
    display: flex;
    min-height: 240px;
}

.lead {
    width: 50%;
    height: 90%;
}

.stars {
    width: 37vw;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid salmon; */
    box-sizing: border-box;
    
}

.bottom {
    min-height: 260px;
    height: 45%;
    display: flex;
    justify-content: space-between;
}

.bio1,
.bio2,
.bio3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 30px;
    margin: 2px 0 0 20px;
    width: 100px;
}

div.attribution {
    position: absolute;
    bottom: 0;
}

.attribution a {
    text-decoration: none;
    color: hsl(300, 43%, 22%);
}

.attribution a:hover,
.attribution a:active {
    font-weight: 700;
}

p.feedback1 {
    width: 270px;
}

p.feedback2 {
    width: 250px;
}

p.feedback3 {
    width: 260px;
}

p.feedback1,
p.feedback2,
p.feedback3 {
    line-height: 20px;
    font-weight: 500;
    margin-top: 60px;

}

div.card1,
div.card2,
div.card3 {
    box-sizing: border-box;
    height: 90%;
    width: 24vw;
    min-width: 270px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.card2 {
    align-self: center;
}

div.card3 {
    align-self: flex-end;
}

.cardhead1 {
    width: 270px;
}

.cardhead2 {
    width: 250px;
} 

.cardhead3 {
    width: 260px;
}

.cardhead1,
.cardhead2,
.cardhead3 {
    height: 40px;
    display: flex;
    margin: 0 0 5% 0; 
    /* border: 1px solid white; */
}

.bottom p, h2 {
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 2px 0;
}

.bottom p {
    color: hsla(300, 24%, 96%, 95%);
}

.bio1 p,
.bio2 p,
.bio3 p {
    color: hsla(333, 80%, 67%, 70%);
    font-weight: 500;
}

.cardhead1 img,
.cardhead2 img, 
.cardhead3 img {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

div.stars1,
div.stars2,
div.stars3 {
    height: 1rem;
    width: 8vw;
    /* border: 1px dotted black; */
    display: flex;
    justify-content: space-between;
}

.star {
    height: 1rem;
    width: 1rem;
    background-image: url('../images/icon-star.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.stars__p {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    flex-wrap: nowrap;

}


.lead p {
    color: hsl(303, 10%, 53%);
    width: 370px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
}

.stars div.mark1,
.stars div.mark2,
.stars div.mark3 {
    background-color: hsl(300, 24%, 96%);
    height: 7vh;
    width: 30.4vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    
}

.stars1,
.stars2,
.stars3,
.stars__p {
    padding-left: 2.2vw;
}

.stars div.mark1 {
    align-self: flex-start;
}

.stars div.mark2 {
    align-self: center;
}

.stars div.mark3 {
    align-self: flex-end;
}

@media screen and (max-width: 430px) {
    body {
        min-height: 180vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: 
    url('../images/bg-pattern-top-mobile.svg'),
    url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom left; 
    }

    body main {
        height: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lead,
    .stars {
        min-width: 320px;
        width: 350px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .mark1,
    .mark2,
    .mark3 {
        box-sizing: border-box;
        min-width: 330px;
        margin: 0;
        align-self: center;
    }

    .attribution {
        display: none;
    }

    section.top {
        height: 550px;
        min-width: 360px;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .lead h1 {
        width: 300px;
        text-align: center;
        font-size: 38px;
        line-height: 29px;
    }

    .lead p {
        text-align: center;
        width: 320px;
        font-size: 17px;
        font-weight: 500;
        line-height: 22px;
    }

    div.stars {
        height: 300px;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    div.stars1,
    div.stars2,
    div.stars3 {
        width: 100px;
        height: 20px;
    }


    div.stars1 .star,
    div.stars2 .star,
    div.stars3 .star {
        height: 20px;
        width: 20px;
        margin: 2px;
    }

    .mark1 div.stars1 {
        margin: -5px 0 10px 15px;
    }

    .mark2 div.stars2 {
        margin: -7px 7px 10px 0px;
    }

    .mark3 div.stars3 {
        margin: -7px 0 10px 18px;
    }

    section.bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.lead {
        padding: 0;
        height: 200px;
    }

    div.stars__p {
        height: 20px;
        width: 191px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .stars__p {
        margin-bottom: -10px;
    }

    .stars p {
        height: 20px;
        margin: 0;
    }

    .mark1 div.stars__p {
        margin-left: 30px;
    }

    .mark2 div.stars__p {
        margin-left: 10px;
    }

    .mark3 div.stars__p {
        margin-left: 30px;
    }

    div.card3 {
        align-self: center;
        margin-bottom: 20px;
    }

    .stars div.mark1,
    .stars div.mark2,
    .stars div.mark3 {
        width: 320px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    div.card1,
    div.card2,
    div.card3 {
        box-sizing: border-box;
        width: 320px;
        min-height: 235px;
        margin-bottom: 15px;
    }

    div.cardhead1,
    div.cardhead2,
    div.cardhead3 {
        margin: 0 0 17px 10px;
    }

    div.cardhead1 {
        margin-left: 25px;
    }

    p.feedback1{
        width: 240px;

    }


    p.feedback2 {
        width: 240px;
    }

    p.feedback3 {
        width: 250px;
    }

    /* div.feedback1 {

    } */
    
    
}