@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    min-height: 100vh;
    background-color: hsl(230, 100%, 99%);
}

main {
    display: flex;
    align-items: center; 
    padding: 1rem; 
    min-width: 750px;
    min-height: 500px;
    margin-top: 20vh; 
}

svg {
    vertical-align: -7%;
    margin:0 0.3rem 0 0.9rem;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: 33%;
}

h2 {
    padding-top: 5px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.05em;
    font-weight: 800;
}

h3 {
    color: hsl(241, 100%, 89%);
    letter-spacing: 0.05em;
}

em {
    color: hsla(204, 3%, 31%, 0.466);
    letter-spacing: 0,025em;
    font-weight: 700;
    font-style: normal;
}


button {
    width: 270px;
    height: 55px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 700;
    margin-left: 90px;
    text-align: center;
    margin-top: 42px;
    border-radius: 30px;
    border: 0 solid hsl(224, 30%, 27%);
    cursor: pointer;
}

button:hover,
button:active {
    background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

a {
    text-decoration: none;
}

mark {
    background-color: transparent;
    color: hsl(224, 30%, 27%);
    letter-spacing: 0,025em;
    font-weight: 700;
    margin-left: 50px;
}

.item {
    padding-top: 3px;
    letter-spacing: 0,015em
}

.result_div {
    background-color: papayawhip;
    width: 200px;
    height: 200px;
    border-radius: 90%;
    margin-left: 55px;
    margin-top: 33px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.container {
    min-width: 270px;
    text-align: left;
    margin: 30px 0 0 90px;
    letter-spacing: 0.025em; 
    line-height: 50px;
    border-spacing: 17px;
    display: grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 54px 54px 54px 54px;
    row-gap: 17px;
}            

.odd {
    border-radius: 10px 0 0 10px;
}

.even {
    border-radius: 0 10px 10px 0;
}

.summary_caption {
    margin: 37px 0 0 90px;
    text-align: left;
    color: hsl(224, 30%, 27%);
}

.result {
    margin: auto 0 auto auto;
    background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    width: 350px;
    height: 500px;
    border-radius: 30px;
    z-index: 1;
    left: 50px;
}

.result:first-child {
    position: relative;
    text-align: center;
    padding: 20px;
}

.total {
    color:hsl(0, 0%, 100%);
    font-size: 70px;
    font-weight: 800;
    padding: 50px 50px 0 50px;
    margin: 0;
}            

.possible {
    color: hsl(252, 100%, 75%);
    font-weight: 500;
    padding: 0;
    margin: -5px;
}

.estim {
    width: 250px;
    text-align: center;
    margin: 0 0 30px 30px;
    color: hsl(241, 100%, 89%);
    font-weight: 500;
}

.summary {
    margin: auto auto auto 0;
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    height: 500px;
    border-radius: 30px;
    z-index: 0;
    box-shadow: 5px 20px 30px 0 hsl(221, 100%, 96%);
}

.nowrap {
    white-space: nowrap;
}

div .table__reaction {
    background-color: hsla(0, 100%, 67%, 5%);
}

div .table__memory {
    background-color: hsl(39, 100%, 56%, 5%);
}

div .table__verbal {
    background-color: hsl(166, 100%, 37%, 5%);
  }

div .table__visual {
    background-color: hsl(234, 85%, 45%, 5%);
}

div .table__reaction {
    color: hsl(0, 100%, 67%);
}

div .table__memory {
    color: hsl(39, 100%, 56%);
}

div .table__verbal {
    color: hsl(166, 100%, 37%);
}

div .table__visual {
    color: hsl(234, 85%, 45%);
}

/* || MOBILE DEVICE LANDSCAPE */

@media screen and (max-width: 375px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0; 
        min-width: 100%;
        min-height: 100%;
        margin-top: -3vh; 
        margin-bottom: -3vh;
    }

    h2 {
        margin-top: 25px;
    }

    h3 {
        margin-top: 40px;
    }

    button {
        width: 310px;
        height: 70px;
        margin: 30px 0 20px 34px;
        border-radius: 45px;
    }

    footer {
        display: none;
    }
    
    .result {
        margin: 0 0 -10px 0; 
        width: 375px;
        height: 450px;
        border-radius: 0 0 30px 30px;
        left: 0;
    }

    .result_div {
        width: 150px;
        height: 150px;
        margin-left: 93px;
        margin-top: 40px;
    }

    .total {
        font-size: 55px;
        padding: 30px 0 0 0;
    }            

    .estim {
        font-size: 16px;
        width: 280px;
        margin: -5px 0 0 27px;
    }

    .summary {
        margin: 0;
        width: 375px;
        height: 600px;
        border-radius: 0;
    }

    .summary_caption {
        margin: 50px 0 40px 30px;
    }

    .container {
        min-width: 310px;
        margin: 20px 0 0 33px;
        line-height: 65px;
        display: grid;
        grid-template-columns: 155px 155px;
        grid-template-rows: 70px 70px 70px 70px;
        row-gap: 20px;
    }


    .odd {
        border-radius: 13px 0 0 13px;
        padding-left: 5px;
    }
    
    .even {
        border-radius: 0 13px 13px 0;
        padding-left: 15px;
    }
}