@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%)
}

main {
    margin-top: auto;
    width: 30vw;
    height: 80%;
    min-width: 360px;
    max-width: 450px;
    border-radius: 20px;
    background-color: white;
}    

h1 {
    font-weight: 900;
    margin-top: 0;
    font-size: 26px;
}

p {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    width: 85%;
    margin-bottom: 13px;
}

/* span {
    white-space: nowrap;
} */

button {
    width: 100%;
    height: 45px;
    font-size: 16px;
}

footer {
    margin-top: auto;
}

div.leadgirl {
    min-width: 360px;
    width: 100%;
    max-width: 450px;
    height: 25%;
    border-radius: 20px 20px 0 0;
}

.leadgirl img {
    border-radius: 20px 20px 0 0;
    min-width: 360px;
    width: 100%;
    max-width: 450px;
   
}

.info {
    box-sizing: border-box;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 10% 8% 10%;
}

.paybox {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 13px;
    background-color: hsl(225, 100%, 98%);
    box-sizing: border-box;
    padding: 7%;
    gap: 6%;
    margin-bottom: 30px;
}

.choice {
    margin-left: auto;
    color: hsl(245, 75%, 52%);
    opacity: 100%;
}

.choice a:visited {
    color: hsl(245, 75%, 52%);
}

.choice a:hover,
.choice a:active {
    text-decoration: none;
    opacity: 70%;
    cursor: pointer;
}

.proceed {
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    border: transparent;
    color: hsl(225, 100%, 98%);
    font-weight: 900;
    font-size: 16px;
    box-shadow: 0 20px 33px rgba(0, 0, 0, 0.22);
}

.proceed:hover,
.proceed:active {
    background-color: linear-gradient(to top, hsl(245, 75%, 52%), hsl(224, 23%, 55%));
}

.cancel {
    font-weight: 900;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    background-color: transparent;
    border: transparent;
    margin-top: 33px;
}

.cancel:hover,
.cancel:active {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

.palecolor {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    margin-top: -10px;
}

.darkcolor {
    color: hsl(223, 47%, 23%);
}

.time {
    font-weight: 900;
}

.current {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) {
    main {
        margin-top: 0;
    }

    footer {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    
    p {
        width: 92%;
    }

}