@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

main {
    /* border: 1px solid salmon; */
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding-right: 5px;
    font-size: 27px;
}

.mainheader {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 40px;
    margin: 0 0 15px 5px;
    /* border: 1px solid red; */
}


.items {
    /* border: 1px solid salmon; */
    width: 340px;
}


.sum, h1 {
    color: hsl(237, 12%, 33%);
    margin-left: 12px;
}

.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-weight: 400;
    width: 340px;
    height: 47px;
    background-color: white;
    border-color: transparent;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 13px;
}

.sum:hover {
    cursor: pointer;
}

.sum:active {
    color: hsl(14, 88%, 65%);
}

.pic {
    /* transition: 0.3s ease-in-out; */
    background: url('../images/icon-arrow-down.svg') no-repeat;
    height: 10px;
    width: 10px;
    margin-right: -9px;
    
}

.collapse {
    display: none;
}

.pic_transform {
    transform: rotate(180deg);
    height: 10px;
    width: 10px;
    margin-bottom: 3px;
}

.weighted {
    font-weight: 700;
}

p {
    color: hsl(240, 6%, 50%);   
    transition: 0.5s ease;
    margin: -6px 0 17px 7px;
}

hr {
    border: 1px solid hsl(240, 5%, 91%, 50%);
    width: 346px;
    margin: 0 0 0 7px;
}

footer {
    margin: auto;
    padding: 0;
    margin-bottom: 20px;
    height: 15px;
}

.faq {
    /* border: 1px solid black; */
    width: 850px;
    height: 450px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    z-index: 0;
}

.faqimage {
    width: 50%;
    /* border: 2px solid blue; */
    background: no-repeat url('../images/bg-pattern-desktop.svg');
    background-size: 200%;
    background-position: -37vw -39vh;
    z-index: 0;
}

.girl {
    /* border: 1px dotted salmon; */
    height: 100%;
    width: 100%;
    background: no-repeat url('../images/illustration-woman-online-desktop.svg');
    background-size: 96%;
    background-position: -5vw;
}

.box {
    position: relative;
    top: 28vh;
    right: 5.9vw;


}

.faqacordion {
    box-sizing: border-box;
    width: 330px;
    margin-top: 50px;
}

.attribution a {
    color: white;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration:underline
}

.girlmobile {
    position: absolute;
    right: 10000px;
}

@media screen and (max-width: 420px) {
    body {
        min-height: 750px;
    }
    
    .faq {
        margin-top: 100px;
        width: 325px;
        height: 510px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sum {
        width: 275px;
        margin-left: 20px;
    }

    p {
        width: 255px;
        margin-left: 27px;
    }

    hr {
        border: 1px solid hsl(240, 5%, 91%, 50%);
        width: 275px;
        margin: 0 0 0 25px;
    }

    .mainheader {
        margin: 0 0 15px 130px;   
    }

    .faqacordion {
        margin-top: -110px;
        margin-bottom: 0;
        /* border: 1px solid salmon; */
        height: 500px;
    }

    .mobilebg {
        width: 100%;
        /* border: 2px solid blue; */
        background: no-repeat url('../images/bg-pattern-mobile.svg');
        background-size: 74%;
        background-position: 38px 0px;
        height: 300px;
        width: 300px;
    }

    .faqimage {
        display: none;
    }


    .girlmobile {
        position: relative;
        left: 35px;
        bottom: 130px;
    }


    .pic {
        margin-right: -17px;
    }

}