@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background-color: hsl(210, 46%, 95%);
}

h1,
.para p {
    margin: 0;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 13px;
}

h1,
p.name {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.main {
    width: 753px;
    height: 290px;
    /* border: 1px solid black; */
    display: flex;
    border-radius: 12px;
    box-shadow: 10px 30px 30px hsla(212, 23%, 69%, 20%);
}

.pic {
    height: 290px;
    width: 305px;
    /* border: 1px solid salmon; */
    background: no-repeat url('../images/drawers.jpg') center;
    background-size: 125%;
    background-position: -5px;
    border-radius: 12px 0 0 12px;

}

.info {
    box-sizing: border-box;
    padding: 35px 40px;
    margin: 0;
    height: 290px;
    width: 448px;   
    background-color: white;
    border-radius: 0 12px 12px 0;
}

.para {
    margin-top: 15px;
    line-height: 20px;
}


.para {
    color: hsl(214, 17%, 51%);
}

.postoptions {
    display: flex;
    /* border: 1px solid salmon; */
    height: 40px;
    width: 360px;
    align-items: center;
    margin-top: 25px;
}

.personal {
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 17px;
}

.name,
.date {
    padding: 0;
    margin: 0;
}

.date {
    color: hsl(212, 23%, 69%);
}

.picprof {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    /* border: 1px solid saddlebrown; */
    background: no-repeat url('../images/avatar-michelle.jpg') center;
    background-size: 100%;
}


.share {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    margin-left: auto;
    border-color: transparent;
    background-color: hsl(210, 46%, 95%);
    padding: 2px 0 0 2px;
    z-index: 1;
}

.share:hover {
    cursor: pointer;
}

.shareoptions {
    box-sizing: border-box;
    position: relative;
    top: -125px;
    /* right: -209px; */
    left: 57.3%;
    
    height: 57px;
    width: 255px;
    /* border: 1px solid black; */
    border-radius: 12px;
    background-color: hsl(217, 19%, 35%);
    text-transform: uppercase;
    font-size: 13px;
    color: hsl(212, 23%, 69%);
    letter-spacing: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 30px;
    /* padding: 0 70px 0 30px; */
    /* display: none; */
    box-shadow: 0px 15px 10px hsla(212, 23%, 69%, 20%);
    /* transition: 0.1s ease-in-out; */
}



.fblink:hover,
.tlink:hover,
.plink:hover {
    cursor: pointer;
}

.shareoptions::before {
    content: '';
    height: 0px;
    width: 0px;
    border-top: 30px solid hsl(217, 19%, 35%);
    border-right: 0 solid transparent;
    border-left: 30px solid transparent;    
    transform: rotate(135deg);
    position: relative;
    top: 20px;
    left: 115px;
    box-shadow: 10px -10px 5px hsla(212, 23%, 69%, 18%);
    
}

.buttonactive {
    background-color: hsl(214, 17%, 51%);
    color: hsl(0, 0%, 100%);
}



.attribution {
    position: absolute;
    bottom: 0;
    color: hsl(214, 17%, 51%);
}

.attribution a {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

.animate {
    animation-name: scale;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animation_two {
    animation-name: shrink;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

#share_title {
    display: flex;
    align-items: center;

    /* border: 1px dotted white; */
    height: 30px;
}

.icondiv {
    display: flex;
    /* border: 1px solid white;  */
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 90px;
    padding: 6px 0 0 20px;
    
}

#share_title {
    transition: 0.3s linear;
    transition-delay: 0.1s;


}

.hide {
    transition: 0.1s linear;
    height: 0px;
}

.nodisplay {
    display: none;
}

@keyframes scale {
    0% {
        transform: scaleY(0%);
    }

    100% {
        transform: scaleY(100%);
    }
}

@keyframes shrink {
    0% {
        transform: scaleY(100%);
    }

    100% {
        transform: scaleY(0%);
    }
}

@media screen and (max-width: 420px) {


    h1 {
        font-size: 16px;
    }

    p {
        font-size: 13px;
        width: 256px;
    }

    .main {
        flex-direction: column;
        width: 329px;
        height: 522px;
    }

    .info {
        box-sizing: border-box;
        padding: 35px 35px;
        margin: 0;
        height: 317px;
        width: 329px;   
        border-radius: 0 0 12px 12px;
    }

    .pic {
        height: 205px;
        width: 329px;
        /* border: 1px solid salmon; */
        background-size: 100%;
        background-position: 0 -15px;
        border-radius: 12px 12px 0 0;
    }

    .postoptions {
        display: flex;
        /* border: 1px solid salmon; */
        height: 40px;
        width: 260px;
        margin-top: 40px;

    }


    .picprof {
        min-height: 40px;
        min-width: 40px;
    }

    .share {
        border-radius: 20px;
        margin-left: -85px;
        border-color: transparent;
        background-color: hsl(210, 46%, 95%);
        padding: 2px 0 0 2px;
        z-index: 0;
    }

    .shareoptions {
        box-sizing: border-box;
        position: relative;
        top: -60px;
        right: 35px;
        height: 80px;
        width: 329px;
        /* border: 1px solid black; */
        border-radius: 0 0 12px 12px;
        padding: 0 25px;
        /* display: none; */
        
    }

    .shareoptions::before,
    .attribution {
        display: none;
    }

    .fblink,
    .tlink,
    .plink {
        padding-left: 0;
        padding-right: 0;
        /* border: 1px solid red; */
        
    }

    .share_mobile_active {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        min-height: 30px;
        background-color: hsl(214, 17%, 51%);
        padding: 0 0 1px 1px;
        margin-left: 25px;
        z-index: 1;
    }

    .personal {
        justify-content: space-between;
        margin-top: 3px;
    }

    /* .animate2 {
        animation-name: scale2;
        animation-duration: 0.1s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    } */
    

    /* @keyframes scale2 {
        0% {
            transform: scaleY(100%);
        }

        100% {
            transform: scaleY(0%);
        }
    } */
    
}