@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 600px;
    width: 1100px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 277px);
    grid-template-rows: repeat(2, 305px);
    grid-template-areas:
    "dc dc jw kw"
    "jh pa pa kw";
    gap: 10px;

}

section {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
}


img {
    border-radius: 90px;
    height: 33px;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 13px;
}

p {
    color: hsl(0, 0%, 81%);
    line-height: 18px;
}

.name3,
.name5 {
    color: hsl(217, 19%, 35%);
}

.status {
    font-size: 12px;
}

.feedback1 {
    /* border: 2px solid salmon; */
    background-color: hsl(263, 55%, 52%);
    grid-area: dc;
    height: 290px;
    width: 542px;
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 78%;
    background-size: 20%;
}   

.feedback2 {
    background-color: hsl(217, 19%, 35%);
    grid-area: jw;
    width: 250px;
    height: 290px;
}

.feedback3 {
    background-color: white;
    grid-area: jh;
    width: 250px;
    height: 290px;
} 

.feedback4 {
    background-color: hsl(219, 29%, 14%);
    grid-area: pa;
    width: 542px;
    height: 290px;
}

.feedback5 {
    background-color: white;
    grid-area: kw;
    width: 250px;
    height: 600px;
} 

.text1,
.text2 {
    margin-top: 15px;
}

.text3,
.text5 {
    color: hsla(217, 19%, 35%, 70%);
    margin-top: 33px;
}

.text4 {
    margin-top: 33px;
}

.attribution {
    position: absolute;
    bottom: 0;
}

section.feedback3,
section.feedback4,
section.feedback5 {
    box-shadow: 30px 40px 30px hsla(0, 0%, 63%, 20%);
}

div.head1,
div.head2,
div.head3,
div.head4,
div.head5 {
    height: 50px;
    display: flex;
    align-items: center;
    margin: -10px 0 -7px 0;
}

img:hover, img:active {
    border: 3px solid hsl(263, 43%, 66%);
}

p.status {
    margin: 0;
}

div.bio {
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 17px;
}

section.feedback3 h1,
section.feedback5 h1 {
    color: hsl(217, 19%, 35%);
}

.feedback1 h1,
.feedback2 h1,
.feedback4 h1 {
    color: white;
}

.feedback1 h2,
.feedback2 h2,
.feedback4 h2 {
    color: hsl(0, 0%, 100%);
}

.feedback1.status,
.feedback2.status,
.feedback4.status {
    color: hsla(0, 0%, 81%, 50%);
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.feedback1.text1,
.feedback2.text2,
.feedback4.text4 {
    color: hsla(0, 0%, 81%, 70%);
}



