@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body {
    max-height: 100vh;
}

main {
    width: 360px;
    height: 720px;
    border: 2px solid black;
}

.info {
    padding: 10px;
}